/* .cardcontainer{
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width:500px){
    .cardcontainer{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
} */

/* wrapper class */
.wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}